[_]
schema-version = "0.2"

[[io.buildpacks.group]]
id = "heroku/nodejs"

[[io.buildpacks.group]]
id = "heroku/heroku-buildpack-heroku-applink-service-mesh"

[[io.buildpacks.group]]
id = "heroku/procfile"